.cmPerfilBox {
    height: 5rem;
}

/* Cambiamos aquí */
body {
    min-height: 100vh; /* Para que cubra toda la página */
    background-image: url("../images/back9.png");
        background-repeat: no-repeat;
        background-size: cover;
}
