.cmUploadImg{
    text-align: center;
    margin: 4rem auto;
}

.cmImg{
    max-height: 18rem;
}

body {
    min-height: 100vh; /* Para que cubra toda la página */
    background-image: url("../images/back9.png");
        background-repeat: no-repeat;
        background-size: cover;
}
