.cmUploadImg {
    border: 1px solid #dee2e6;
    max-width: 800px;
    margin: 0 auto;
}

#uploadedImg, #modifiedImg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}