<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PUZMAGE Home</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/home-clean.css">
</head>

<body>
  <div class="homeSplitWrapper">
    <!-- Fondo de la izquierda -->
    <div class="slider">
        <div class="slides">
          <img src="/images/bkg_home1.PNG" alt="Imagen 1">
          <img src="/images/soloBckg2.png" alt="Imagen 2">
          <img src="/images/unirseBk.png" alt="Imagen 3">
        </div>
      </div>

    <!-- Panel blanco a la derecha -->
    <div class="homeRight d-flex align-items-center justify-content-center">
      <div class="homeBox text-center">
        <p class="cmHeadline">
          JUEGA AL MÁS DIVERTIDO PUZZLE CON TUS AMIGOS Y TUS PROPIAS IMÁGENES,<br>
          ¡QUE EMPIECE LA DIVERSIÓN QUE ESPERAS!
        </p>

        <div class="d-flex flex-column align-items-center gap-3 mt-4">
          <a href="/login" class="btn btn-primary btn-lg w-75">INGRESAR</a>
          <a href="/signup" class="btn btn-warning btn-lg w-75">REGISTRARSE</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
