<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUZMAGE Registro</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <div class="register-wrapper">
    <a href="/login" class="btn btn-warning position-absolute top-0 end-0 m-4">INGRESAR</a>

    <div class="cmCenteredContent">
      <div class="card shadow register-card">
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">游늶 REGISTRARSE</h4>
        </div>
        <div class="card-body">
          <form class="row g-3" action="/signup" method="post">
            <div class="mb-3 text-start">
              <label for="emailField" class="form-label">Email</label>
              <input type="email" name="usu_email" class="form-control" id="emailField" placeholder="name@example.com..." required>
            </div>

            <div class="mb-3 text-start">
              <label for="passwordField" class="form-label">Contrase침a</label>
              <input type="password" name="usu_password" class="form-control" id="passwordField" placeholder="contrase침a123..." required>
            </div>

            <div class="mb-3 text-start">
              <label for="passwordField2" class="form-label">Confirmar contrase침a</label>
              <input type="password" name="usu_password2" class="form-control" id="passwordField2" placeholder="contrase침a123..." required>
            </div>

            <button class="btn btn-primary w-100 fw-semibold">REGISTRARME</button>
          </form>

          <% if (typeof msg_e != "undefined") { %>
            <div class="text-danger mt-3 text-center fw-semibold"><%= msg_e %></div>
          <% } %>

          <% if (typeof msg_s != "undefined") { %>
            <div class="text-success mt-3 text-center fw-semibold"><%= msg_s %></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
