<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUZ-IMAGE</title>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="css/uploadImg.css">
</head>

<body>
    <%- include('../partials/navbar'); %>
    <div class="container mt-4">
        <label for="" id="usu_email" style="color: white;" ><%= usu_email %></label>
        <div class="cmUploadImg bg-light p-4 rounded-3 shadow-sm">
            <h4 class="mb-4" ><i class="bi bi-images me-2"></i> Cargar Nueva Imagen</h4>
            <div class="cmImgUploaded position-relative mb-4 text-center ">
                <img src="" class="cmImg img-thumbnail"  alt="" id="uploadedImg" >
                <button id="deleteImgBtn" class="btn btn-danger position-absolute top-0 end-0 m-1" style="display: none;">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
            
            <div class="mb-4">
                <label for="inpFile" class="btn btn-primary px-4">
                    <i class="bi bi-plus-circle me-2"></i>Selecionar Imagen
                </label>
                <input type="file" name="inpFile" id="inpFile" accept="image/png, image/jpg, image/jpeg" class="d-none">
            </div>
            <br/><br/>
            <h5>Cargar: </h5>
            <img src="" alt="" id="modifiedImg">
            <button class="btn btn-primary" onclick="optimizarB64()">CARGAR IMAGEN</button>
            <button style="display:none;" id="upImgBtn" class="btn btn-success" onclick="uploadImg()">SUBIR IMAGEN</button>
        </div>
    </div>
    <script src="js/upImg.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>